---
  name: cicd.jenkins.incoming.start
  enabled: true
  description: Webhook listening for Jenkins starting a CI Build
  trigger:
    type: core.st2.webhook
    parameters:
      url: cicd/jenkins
  criteria:
    trigger.body.build.phase:
      pattern: STARTED
      type: equals
  action:
    ref: cicd.ci_start
    parameters:
      project: "{{trigger.body.name}}"
      branch: "{{trigger.body.build.scm.branch}}"
