---
  name: cicd.jenkins.incoming.failure
  enabled: true
  description: 'Webhook listening for responses for Jenkins job failures'
  trigger:
    type: core.st2.webhook
    parameters:
      url: cicd/jenkins
  criteria:
    trigger.body.build.phase:
      pattern: FINALIZED
      type: eq
    trigger.body.build.status:
      pattern: FAILURE
      type: eq
  action:
    ref: cicd.ci_failure
    parameters:
      project: "{{trigger.body.name}}"
      branch: "{{trigger.body.build.scm.branch}}"
      details_url: "{{trigger.body.build.url}}"
